################################
# Java
################################
*.class
*.jar
*.war
*.ear
*.log

# Maven / Gradle
target/
build/
.gradle/
.mvn/

################################
# C / C++
################################
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.a
*.DS_Store
# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

################################
# IDE / Editor
################################
.vscode/
.idea/
*.iml

################################
# OS Files
################################
.DS_Store
Thumbs.db

################################
# Temporary / Debug
################################
*.tmp
*.swp
*.bak
*.pid
*.stackdump

################################
# Logs
################################
logs/
*.log